{erl_opts, [
	fail_on_warning,
	bin_opt_info
]}.

{clean_files, [
	"erl_crash.dump",
	"*.eunit", "ebin/*", ".eunit/",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png", "doc/edoc-info",
	"test/ct/logs/*", "test/ct/*.beam", "test/ct/helpers/*.beam",
	"deps/*",
  "_build",
  "TEST-*.xml"
]}.

{deps, [
	{meck, "0.8.4"}
]}.

{deps_dir, "deps"}.


{cover_enabled, true}.

{eunit_opts, [
%	verbose,
	{report, {
		eunit_surefire,
		[{dir, "_build/"}]
	}}
]}.

{eunit_compile_opts, [
	export_all
]}.
